tweepy==3.10.0
numpy
unidecode
jamo
matplotlib
librosa
tqdm
inflect
torch==1.8.1
pandas
tgt
pyworld
torchaudio==0.8.1
tensorboard==2.8.0
pytorch-ignite
termcolor
visdom
ftfy
seaborn
timm==0.4.5
pydub
scipy
multiprocess
webrtcvad
umap-learn==0.5.2
protobuf==3.20.0